
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Add New App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="css/view.css?v=0.4">
    <link rel="stylesheet" href="css/common.css">
</head>

<body>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Add New App</title>
      <link rel="stylesheet" href="css/normalize.css">
      <link href='https://fonts.googleapis.com/css?family=Nunito:800,600' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
      <form th:action="${is_newapp}?@{/savenew} : @{/updateapp}" method="post" th:object="${app}">
        <h1>Save New App</h1>
        <p th:utext="${error_message}" class="error"/>
        <input type="hidden" id="appid" name="appid" th:value="${app} ? ${app.appid} : ''">
        <fieldset>
          <legend><span class="number">1</span>Basic Info about New App</legend>
          <label for="scode">Service Code:</label>
          <input type="text" id="scode" name="scode" size=24 maxlength=32 th:value="${app} ? ${app.scode}:''"
          		 th:disabled="${disabled}">
          
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" size=64 maxlength=64 th:value="${app} ? ${app.title}:''">
          
          <label for="version">Version:</label>
          <input type="text" id="version" name="version" size=8 maxlength=8 th:value="${app} ? ${app.version}:''">
          
          <label>Update Force:</label>
          <input type="radio" id="updatenow"   name="updateforce" value="true" th:checked="${updatenow}">
          <label for="update_now" class="light">Update Now</label>
          <input type="radio" id="updatelater" name="updateforce" value="false" th:checked="${updatelater}">
          <label for="update_later" class="light">Update Later</label><br>
          
          <label for="storeurl">App Store Url:</label>
          <input type="text" id="storeurl" name="storeurl" size=64 maxlength=256 th:value="${app} ? ${app.storeurl}:''">
        </fieldset>
        
        <fieldset>
          <legend><span class="number">2</span>App profile</legend>
          <label for="desc">Description:</label>
          <textarea id="desc" name="description" maxlength=64 th:text="${app} ? ${app.description}:''"></textarea>
        </fieldset>

        <fieldset>
          <legend><span class="number">3</span>FCM Push</legend>
          <label for="fcmid">FCM ID:</label>
          <input type="text" id="fcmid" name="fcmid" size=32 maxlength=32 th:value="${app} ? ${app.fcmid}:''"></input>
          <label for="fcmkey">FCM Key:</label>
          <input type="text" id="fcmkey" name="fcmkey" size=64 maxlength=256 th:value="${app} ? ${app.fcmkey}:''"></input>
        </fieldset>

        <fieldset>
          <legend><span class="number">4</span>Secondary Server Info.</legend>
          <label for="fcmid">Secondary Server Url:</label>
          <input type="text" id="secondurl" name="secondurl" size=32 maxlength=32 th:value="${app} ? ${app.secondurl}:''"></input>
          <label for="fcmkey">Start Date of 2nd url</label>
          <input type="text" id="secondarydate" name="secondarydate" size=64 maxlength=256 th:value="${app} ? ${app.secondarydate}:''"></input>
        </fieldset>

        <fieldset>
          <legend><span class="number">5</span>Etc.</legend>
          <label for="fcmid">Upload File Limite(MB)</label>
          <input type="text" id="filelimit" name="filelimit" size=32 maxlength=32 th:value="${app} ? ${app.filelimit}:''"></input>
        </fieldset>
        
        <label for="status">App Status:</label>
        <select id="status" name="status" th:value="${app} ? ${app.status}:'ready'">
          <option value="ready">Ready</option>
          <option value="run">Run</option> 
          <option value="stop">Stop</option>
          <option value="delete">Delete</option>
        </select>
        <fieldset>
        		<label for="appid">App ID:</label>
        		<input type="text" id="appid" name="appid" size=64 maxlength=64 th:value="${app} ? ${app.appid}:''" th:disabled="false">
        		<input type="text" id="apptoken" name="apptoken" size=64 maxlength=64 th:value="${app} ? ${app.token}:''" th:disabled="false">
        </fieldset>
        <div th:if="${is_newapp}"> <button type="submit">Save New App</button> </div>
        <div th:unless="${is_newapp}"> <button type="submit">Update App</button> </div>
      </form>
      
    </body>
</html>
  
  

</body>

</html>
